h2 {
    text-align: center; /* Выравниваем заголовок по центру */
    margin-top: 20px; /* Отступ сверху */
}

.footer {
    left: 10; /* Сдвинуть влево */
    bottom: 0; /* Сдвинуть вниз */
    padding: 10px; /* Отступы */
    background-color: #f1f1f1; /* Цвет фона */
    width: 100%; /* Ширина на всю страницу */
    text-align: left; /* Выравнивание текста влево */
}

table {
    width: 25%; /* Ширина таблицы на всю страницу */
    border-collapse: collapse; /* Убираем двойные границы */
    margin: 20px 0; /* Отступы вокруг таблицы */
}

th {
    background-color: #FFC0CB; /* Цвет фона заголовков таблицы */
}